div.navbar{
	display: none;
}
.navbar .center {
	line-height: 0!important;
}
.navbar{
	background: url('../img/fondo.png') transparent!important;
}
.navbar:after{
	background: transparent!important;
}
.navbar a{
	color: white!important;
}
i.icon.icon-bars{

}